<mapper namespace="product">
    <!--
    statementId:
        namespace+id 是SQL语句在当前工程中的唯一标识
    -->
<!--    <select id="selectList">-->
<!--        select id,username form user-->
<!--    </select>-->
<!--    <select id="selectOne">-->
<!--        select id,username form user where id = ? and username = ?-->
<!--    </select>-->
</mapper>